p.forms {
    margin: 10px;
}

#graphArea {
     width: 800px;
     height: 500px;
     border: 1px solid lightgray;
}

div#stats div{
  margin: 10px;
}

div#exportGraph
{
  margin: 10px;
}

table.coauthorshipTable{
  border-collapse: collapse;
}

table.coauthorshipTable, table.coauthorshipTable th, table.coauthorshipTable td {
    border: 1px solid black;
}

table.coauthorshipTable th {
   padding: 15px;
   text-align: center;
}

table.coauthorshipTable td {
    padding: 10px;
    text-align: left;
}

table.resultGrid {
    border-collapse: collapse;
}

table.resultGrid, table.resultGrid th, table.resultGrid td {
    border: 1px solid black;
	padding: 5px;
}

.adminButton {
	-moz-box-shadow: 0px 10px 14px -7px #276873;
	-webkit-box-shadow: 0px 10px 14px -7px #276873;
	box-shadow: 0px 10px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 10px;
	text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    margin-bottom: 20px;
    width: 300px;
}
.adminButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
.adminButton:active {
	position:relative;
	top:1px;
}